
<!doctype html>
<html lang="en">
<head>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Suez+One&display=swap" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
	<meta name="Description" content="Author: D Benseman, Content: A dictionary to convert maori words to english.">
</head>

<body>
	<div id="container">

		<header>
			<h1>{% block heading %}{% endblock %}</h1>
		</header>

		<nav>
			<ul>
                {% if is_admin %} <!-- checks if they have admin privileges -->
                    <div class="dropdown">
                        <button class="dropbtn">Admin</button>
                        <div class="dropdown-content">
                            <li><a href = "/add_category"> Add categories</a></li>
                            <li><a href = "/add_words"> Add words</a></li>
                        </div>
                    </div>
                    <div class = 'seperator'> ---------------- </div>
                {% endif %}

                <li><a href="\">Home</a></li>
                {% for category in categories %} <!-- displays every category in the categories list -->
                    <li><a href="/category/{{ category[1] }}">{{ category[0] }}</a></li>
                {% endfor %}
                <div class = 'seperator'> ---------------- </div>
                {% if logged_in %} <!-- if they are logged in, displays the logout button -->
                     <li><a href = "/logout">log out</a></li>
                {% else %} <!-- otherwise, it displays the sign-in button -->
                    <li><a href = "/login">log in</a></li>
                {% endif %}
			</ul>
		</nav>



		<main>
            {% block main%}{% endblock %}
        </main>


		<footer>
			<p>
				&copy; Winston 2022
			</p>
		</footer>

	</div>
</body>
</html>
