{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
    {% for category in categories %}
        {%  if category[1] == category_id %}
            <h2>{{ category[0] }}</h2>
        {% endif %}
    {% endfor %}

        {% if is_admin %}
            <a href ="/category/{{ category_id }}?confirmation=delete">Delete this Category</a>
            {% if confirmation == "delete" %}
                <div>
                    <a href = "/category/{{ category_id }}?confirmation=yes">Yes</a>
                    <a href = "/category/{{ category_id }}?confirmation=no">No</a>
                </div>
            {% endif %}

        {% for category in categories %}
            {%  if category[1] == category_id %}
        <form class = "dataForm" method = "POST">
            <div class ="form-group">
                <div class ="form-label">Modify Category :</div>
                    <div class = "form-element"><input type = "text" name ="modify_category" id = "modify_category" value="{{ category[0] }}" required MAXLENGTH="30"></div>
            </div>
            {% endif %}
        {% endfor %}

            <input type="hidden" name="submit_type" value="modify category">

            <div class ="form-group">
                    <div class ="form-element"><input type = "submit" name = "Modify category" value="Modify category" MAXLENGTH="30"></div>
            </div>
        </form>

        <form class = "dataForm" method = "POST">
            <div class ="form-group">
                <div class ="form-label">Maori word:</div>
                    <div class = "form-element"><input type = "text" name ="Maori" id = "Maori" required MAXLENGTH="30"></div>
            </div>

            <div class ="form-group">
                <div class ="form-label">English word:</div>
                    <div class = "form-element"><input type = "text" name ="English" id = "English" required MAXLENGTH="30"></div>
            </div>

            <div class ="form-group">
                <div class ="form-label">Level:</div>
                {% for i in range(10) %}
                    <input type = "radio" name = "Level"  value = "{{i + 1 }}"  required>
                    <label>{{ i + 1 }}</label>
                {% endfor %}
            </div>

            <div class ="form-group">
                <div class ="form-label">Definition:</div>
                    <div class = "form-element"><input type = "text" name ="Definition" id = "Definition" required MAXLENGTH="30"></div>
            </div>


            <div class = "error" > {{  error }} </div>

            <input type="hidden" name="submit_type" value="add word">

            <div class ="form-group">
                    <div class ="form-element"><input type = "submit" name ="Add word" value="Add word"></div>
            </div>
        </form>
    {% endif %}
<table>
    <thead>
        <tr>
            <td>Maori</td>
            <td>English</td>
            <td>Level</td>
        </tr>
    </thead>
    <tbody>

    {% for wordbank in wordlist %}
        {%  if wordbank[3] == category_id %}
        <tr>
            <td><a href = "/word/{{ wordbank[0] }}">{{ wordbank[1] }}</a></td>
            <td><a>{{ wordbank[2] }}</a></td>
            <td><a>{{ wordbank[5] }}</a></td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
