{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
<table class = "cart-table">
    <thead>
        <tr>
            <td>Maori</td>
            <td>English</td>
            <td>Catagory</td>
            <td>Definition</td>
            <td>Level</td>
            <td>Image</td>
        </tr>
    </thead>
    <tbody>
    {% for wordbank in wordbank_list %}
        <tr>
            <td><a>{{ wordbank[0] }}</a></td>
            <td><a>{{ wordbank[1] }}</a></td>
            <td><a>{{ wordbank[2] }}</a></td>
            <td><a>{{ wordbank[3] }}</a></td>
            <td><a>{{ wordbank[4] }}</a></td>
            <td><img src =" static/images/{{ wordbank[5] }}.jpg"></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
