{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
    <form class = "dataForm" method = "GET">
        <div class ="form-group">
            <div class ="form-label">Search Bar</div>
                <div class = "form-element"><input type = "search" name ="Search" id = "Search" required></div>
        </div>
        <div class ="form-group">
                <div class ="form-element"><input type = "submit" value="Submit"></div>
        </div>
    </form>

    {% for wordbank in Search %}
           <div>
                <a href = "/word/{{ wordbank[0] }}/0/{{ wordbank[3]}}">{{ wordbank[1] }}</a>
                <a>{{ wordbank[2] }}</a>
                <a>{{ wordbank[5] }}</a>
           </div>
    {% endfor %}


{% endblock %}
