{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
    <h2>Search</h2>

    <form class = "dataForm" method = "GET">
        <div class ="form-group">
            <div class ="form-label">Search Bar</div>
                <div class = "form-element"><input type = "search" name ="Search" id = "Search" required MAXLENGTH="30"></div>
        </div>

        <input type="hidden" name="submit_type" value="search">

        <div class ="form-group">
                <div class ="form-element"><input type = "submit" value="Submit"></div>
        </div>
    </form>
    {% if Search_results == "Empty" %}
        <p></p>
    {% elif Search_results == "None" %}
        <p>Nothing found, make sure you spelt it correctly!</p>
    {% else %}
        <table>
            <thead>
                    <td><p>Maori</p></td>
                    <td><p>English</p></td>
                    <td><p>Level</p></td>
            </thead>

            <tbody>
                {% for wordbank in Search_results %}
                    <tr>
                        <td><a href = "/word/{{ wordbank[0] }}">{{ wordbank[1] }}</a></td>
                        <td><a>{{ wordbank[2] }}</a></td>
                        <td><a>{{ wordbank[5] }}</a></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
