{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
<form class = "dataForm" method = "POST">
    <div class ="form-group">
        <div class ="form-label">Email:</div>
            <div class = "form-element"><input type = "email" name ="email" id = "email" required MAXLENGTH="30"></div>
    </div>

    <div class ="form-group">
        <div class ="form-label">Password:</div>
            <div class = "form-element"><input type = "password" name ="password" id = "password" required MAXLENGTH="30"></div>
    </div>

    <div class = "error" > {{  error }} </div>

    <div class ="form-group">
        <div class = "form-label">Submit</div>
            <div class ="form-element"><input type = "submit" value="Login"></div>
    </div>

    <a href = "signup">signup</a>

</form>
{% endblock %}
