{% extends 'base.html' %}


{% block pageheading %}Login{% endblock %}


{% block main %}
<form class = "dataForm" method = "POST">
    <div class ="form-group">
        <div class ="form-label">First Name:</div>
            <div class = "form-element"><input type = "text" name ="firstname" id = "firstname" required MAXLENGTH="30"></div>
    </div>

    <div class ="form-group">
        <div class ="form-label">Last Name:</div>
            <div class = "form-element"><input type = "text" name ="lastname" id = "lastname" required MAXLENGTH="30"></div>
    </div>

    <div class ="form-group">
        <div class ="form-label">Email:</div>
            <div class = "form-element"><input type = "email" name ="email" id = "email" required MAXLENGTH="30"></div>
    </div>

    <div class ="form-group">
        <div class ="form-label">Password:</div>
            <div class = "form-element"><input type = "password" name ="password" id = "password" required MAXLENGTH="30"></div>
    </div>

    <div class ="form-group">
        <div class ="form-label">Confirm Passowrd:</div>
            <div class = "form-element"><input type = "password" name ="confirm_password" id = "confirm_password" required MAXLENGTH="30"></div>
    </div>


    <div class ="form-group">
            <label>Student</label>
            <input type = "radio" name = "Admin"  value = "0"  required>
            <label>Teacher</label>
            <input type = "radio" name = "Admin"  value = "1"  required>
    </div>

    <div class = "error" > {{  error }} </div>

    <div class ="form-group">
        <div class = "form-label">Submit</div>
            <div class ="form-element"><input type = "submit" value="Sign up"></div>
    </div>

</form>


{% endblock %}