{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
    {% for wordbank in wordlist %}
        {%  if wordbank[0] == word_id %}
            <p> Maori : {{ wordbank[1] }}</p>
            <p> English : {{ wordbank[2] }}</p>
            <p> Level : {{ wordbank[5] }}</p>
            <p> Definition : {{ wordbank[4] }}</p>
            <img src =" static/images/{{ wordbank[6] }}.png">
        {% endif %}
    {%  endfor %}
{% endblock %}
