{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
    {% for wordbank in wordlist %}
            {%  if wordbank[0] == word_id %}
                <h2>{{ wordbank[1] }}</h2>
            {% endif %}
    {% endfor %}

    {% if is_admin %}
        <a href ="/word/{{ word_id }}?confirmation=delete">Delete this word</a>
        {% if confirmation == "delete" %}
            <div>
                <a href = "/word/{{ word_id }}?confirmation=yes">Yes</a>
                <a href = "/word/{{ word_id }}?confirmation=no">No</a>
            </div>
        {% endif %}
    {% endif %}


    <div>
        {% for wordbank in wordlist %}
            {%  if wordbank[0] == word_id %}
                <p> Maori : {{ wordbank[1] }}</p>
                <p> English : {{ wordbank[2] }}</p>
                <p> Level : {{ wordbank[5] }}</p>
                <p> Definition : {{ wordbank[4] }}</p>
                <img src = "/static/images/{{ wordbank[6] }}">
                {% if logged_in %}
                    <p> Word id : {{ wordbank[0] }}</p>
                    {% for user_index in username %}
                        {%  if user_index[0] == wordbank[8] %}
                            <p> Added by: {{ user_index[1]}} {{ user_index[2] }} ,Date added: {{ wordbank[7] }}</p>
                        {% endif %}
                        {%  if user_index[0] == wordbank[9] %}
                            <p> Last edited by: {{ user_index[1]}} {{ user_index[2] }} ,Date edited: {{ wordbank[10] }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
    </div>
    <div>

            {% if is_admin %}
                <form class = "dataForm" method = "POST">
                    <div class ="form-group">
                            <div class ="form-label"> Modify maori word:</div>
                                <div class = "form-element"><input  value = "{{ wordbank[1] }}" type = "text" name ="Modify_maori" id = "Modify_maori"  MAXLENGTH="30"></div>
                       </div>

                        <div class ="form-group">
                            <div class ="form-label"> Modify english word:</div>
                                <div class = "form-element"><input value = "{{ wordbank[2] }} " type = "text" name ="Modify_english" id = "Modify_english"  MAXLENGTH="30"></div>
                        </div>

                        <div class ="form-group">
                            <div class ="form-label">Modify level:</div>
                                {% for i in range(10) %}
                                    {% if i + 1  == wordbank[5] %}
                                        <input type = "radio" name = "Modify_level"  value = "{{i + 1 }}" checked >
                                        <label>{{ i + 1 }}</label>
                                    {% else %}
                                        <input type = "radio" name = "Modify_level"  value = "{{i + 1 }}"  >
                                        <label>{{ i + 1 }}</label>
                                    {% endif %}
                                {% endfor %}
                        </div>

                        <div class ="form-group">
                            <div class ="form-label"> Modify definition:</div>
                                <div class = "form-element"><input value = "{{ wordbank[4] }}" type = "text" name ="Modify_definition" id = "Modify_Definition"  MAXLENGTH="30"></div>
                            </div>

                        <div class = "error" > {{  error }} </div>

                    <div class ="form-group">
                            <div class ="form-element"><input type = "submit" value="Modify word"></div>
                        </div>
                </form>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
